html {
  box-sizing: border-box;
  font-family: 'Bevan', cursive;
  color: #fff;
  line-height: 1.5;
  background-color: #dbd6cf;
  text-align: center;
}

header {
  background-color: #79756f;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.buttons li {
  display: inline-block;
  margin: .3em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
}

.buttons li:hover {
  background-color: #f33;

}

.buttons a {
  color: #fff;
  text-decoration: none;
}
