html {
  box-sizing: border-box;
  font-family: 'Bevan', cursive;
  color: #fff;
  line-height: 1.5;
  background-color: #dbd6cf;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
}

/* Makes links look like buttons, Centers Buttons, sets font / color */

.buttons li {
  display: inline-block;
  margin: .3em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
}

/* Changes color of link on hover */

.buttons li:hover {
  background-color: #f33;

}

/* Changes font color & text of links */

.buttons a {
  color: #fff;
  text-decoration: none;
}
